.exercise{
	max-height: fit-content;
	font-family: 'Montserrat', sans-serif;
	margin-top: 75px;
	.exercise-text{
		height: fit-content;
		h1{
			text-transform: uppercase;
		}
		p{
			font-weight: 300;
			margin: 10px 0 5px;
		}
	}
	.exercise-images{
		.exercise-images-big{
			text-align: left;
			img{
				width: 100%;
				max-height: 950px;
				object-fit: cover;
				display: block;
				padding: 10px 0;
			}
		}
		.exercise-images-small{
			max-height: 950px;
			display: flex;
			.box1{
				width: 50%;
				.image-2{
					width: 100%;
					height: 60%;
					object-fit: cover;
					padding: 0 5px 5px 0;
					display: block;
				}
				.image-3{
					width: 100%;
					height: 40%;
					object-fit: cover;
					padding: 5px 5px 0 0 ;
					display: block;
				}
			}
			.box2{
				width: 50%;
				position: relative;
				.image-4{
					width: 100%;
					height: 50%;
					object-fit: cover;
					padding: 0 0 5px 5px;
					display: block;
				}
				.image-5{
					width: 100%;
					height: 50%;
					object-fit: cover;
					padding: 5px 0 0 5px;
					display: block;
				}
				a{
					position: absolute;
					bottom: 15px;
					right: 15px;
					padding: 5px;
					display: flex;
					border-radius: 50%;
					border: 1px solid black;
					transition: all 0.3s;
					z-index: 1;
					svg{
						color: black;
						font-size: 150%;
					}
				}
				a:hover{
					background-color: black;
					svg{
						color: white;
						padding: 1px;
					}
				}
			}
		}
	}
	@media (min-width: 900px) {
		.exercise-text{
			p{
				margin: 10px 0 30px;
			}
		}
		.exercise-images{
			display: flex;
			.exercise-images-big{
				width: 50%;
				img{
					width: 100%;
					height: 100%;
					padding: 0 20px 0 0 ;
				}
			}
			.exercise-images-small{
				width: 50%;
				// margin: 20px 0 0 0;
				.box1{
					width: 50%;
					.image-2{
						padding: 0 10px 10px 0;
					}
					.image-3{
						padding: 10px 10px 0 0 ;
					}
				}
				.box2{
					width: 50%;
					.image-4{
						padding: 0 0 10px 10px;
					}
					.image-5{
						padding: 10px 0 0 10px;
					}
				}
			}
		}
	}
}

