.stretching{
	font-family: 'Montserrat', sans-serif;
	max-height: fit-content;
	.stretching__text-box{
		margin: 50px 0 20px;
		text-transform: uppercase;
	}
	.stretching__image-box{
		height: 800px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
		.stretching__image{
			flex: 1 1 100%;
			height: 50%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}
		.stretching__text{
			height: 50%;
			font-weight: 300;
			padding: 32px;
			background-color: #02487d;
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.stretching__text--container{
				h2{
					// text-transform: uppercase;
					// letter-spacing: 1px;
					// word-spacing:7px;
					font-size: 1.7em;
					line-height: 1.4;
				}
			}
			.link-container{
				display: flex;
				padding: 10px 0;
				.btn{
					height: 33px;
					color: black;
					background-color: white;
					border: 1px solid black;
					font-size: .7em;
					font-weight: bold;
					font-family: 'Montserrat', sans-serif;
					text-transform: uppercase;
					padding: 10px 20px;
					border-radius: 5000px;
					transition: all 0.3s;
				}
				.btn:hover{
					background-color: #282421;
					color: white;
				}
			}
		}
	}
	@media (min-width:500px) {
		.stretching__image-box{
			.stretching__image{
				height: 60%;
			}
			.stretching__text{
				height: 40%;
			}
		}
	}
	@media (min-width:600px) {
		.stretching__image-box{
			height: 850px;
			.stretching__image{
				height: 65%;
			}
			.stretching__text{
				height: 35%;
			}
		}
	}
	@media (min-width:700px) {
		.stretching__image-box{
			height: 900px;
			.stretching__image{
				height: 70%;
			}
			.stretching__text{
				height: 30%;
			}
		}
	}
	@media (min-width:800px) {
		.stretching__image-box{
			.stretching__image{
				height: 75%;
			}
			.stretching__text{
				height: 25%;
			}
		}
	}
	@media (min-width: 900px) {
		.stretching__image-box{
			height: 850px;
			.stretching__image{
				flex: 1 1 55%;
				height: 100%;
				background-image: url(../../images/last2.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				img{
					width: 100%;
					object-fit: cover;
					display: block;
					transition: all 0.3s;
				}
				img:hover{
					opacity: 0;
				}
			}
			.stretching__text{
				flex: 1 1 45%;
				height: 100%;
				font-weight: 300;
				// padding: 32px;
				// background-color: #282421;
				color: white;
				.stretching__text--container{
					height: 70%;
					h2{
						font-size: 2.5rem;
					}
				}
				.link-container{
					height: 30%;
					display: flex;
					// justify-content: end;
					align-items: end;
					a{
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
	.stretching__virtual-box {
		padding: 10px;
		text-align: center;
		background-color: #022846;
		h1{
			color: white;
		font-size: 1.5rem;
		}
		a{
			padding: 10px 60px;
			margin: 30px 0;
		}
	}
	@media (min-width: 700px) {
		.stretching__virtual-box {
			h1{
				font-size: 2rem;
			}
		}
	}
	@media (min-width: 900px) {
		.stretching__virtual-box {
			h1{
				font-size: 3rem;
			}
		}
	}
}





















// .section{
// 	@media (max-width:1200px) {
// 		width: 100vw;
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 			.img{
// 				width: 100%;
// 				max-height: 500px;
// 				object-fit: cover;
// 			}
// 			.section-text{
// 				font-size: 2em;
// 				.price{
// 					padding: 30px 0;
// 					text-align: center;
// 					color: white;
// 				}
// 				.email{
// 					display: flex;
// 					.btn{
// 						color: white;
// 						background-color: rgb(75,129,244);
// 						font-size: 1rem;
// 						font-weight: 500;
// 						text-transform: uppercase;
// 						padding: 10px 20px;
// 						border-radius: 5000px;
// 						margin: 0px auto 20px;
// 						transition: all 0.3s;
// 					}
// 				}
// 				.btn:hover{
// 					transform: scale(1.15);
// 				}
// 				.text{
// 					font-size: 2rem;
// 					width: 84vw;
// 					object-fit: cover;
// 					margin: 25px 0;
// 					font-family: 'Montserrat', sans-serif;
// 					font-weight: 300;
// 				}
// 			}
// 	}

// 	@media (min-width: 1200px) {
// 		max-width: 2000px;
// 		max-height: 500px;
// 		display: flex;
// 		align-items: center;
// 		margin: 70px auto;
// 			.img{
// 				width: 30%;
// 				max-height:500px;
// 				object-fit: contain;
// 				}
// 			.section-text{
// 				max-width: 70%;
// 				max-height: inherit;
// 				font-size: 1.7em;
// 				padding: 0 4em 0 1em;
// 				font-family: 'Montserrat', sans-serif;
// 				font-weight: 300;
// 				.price{
// 					margin: 0 0 20px;
// 				}
// 					.email{
// 						display: flex;
// 						.btn{
// 							color: white;
// 							background-color: rgb(75,129,244);
// 							font-size: 1rem;
// 							font-weight: 500;
// 							text-transform: uppercase;
// 							padding: 10px 20px;
// 							border-radius: 5000px;
// 							transition: all 0.3s;
// 						}
// 					}
// 					.btn:hover{
// 						transform: scale(1.15);
// 					}
// 				.title{
// 					font-size: 150%;
// 				}
// 				.text{
// 					max-height: 250px;
// 					overflow: hidden;
// 				}
// 			}
// 		}
// }